{% extends "layout.html" %}

{% block body %}

<div class="w3-container w3-light-gray" style= "margin-top: 100px; margin-left: auto; margin-right: auto; width: 50em;">
<p>
<h3>Proje Açıklaması</h3>
<hr>
Özel tasarım ürünler için ilan-teklif sitesi. Özel tasarım ürün isteyen
kullanıcıların ilan verdiği, ürünü yapabilecek firmaların da bu ilanlara teklif yapabileceği bir
sisteme sahip olan internet sitesidir.
<br>
<br>
<h3>Projenin çözdüğü sorun</h3>
<hr>
Günümüzde çok fazla internet üzerinden satış sitesi bulunmaktadır.
Ama özel tasarım ürün isteyen kullanıcılar için hazırlanmış bir site bulunmamakta. Bu sebeple
özel tasarım ürün isteyen kullanıcılar, bu işi yapan firmaların hepsiyle ayrı ayrı görüşmek
zorunda kalıyor. Bu da kullanıcıların zamanını harcayıp fazla uğraşmalarına sebep oluyor.
Projenin çözmeyi amaçladığı sorun budur.
<br>
<br>
<h3>Projede kullanılan teknolojiler</h3>
<hr>
Bahsedilen projenin Back-End kısmı python tabanlı olan
Django Web Framework ile geliştirilmektedir. Database işlemleri için SQLite database
kullanılmaktadır. Aynı zamanda proje kapsamında Arayüz tasarımı için Bootstrap
teknolojisinden yararlanılmaktadır.
</p>
</div>

{% endblock body %}