{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-md-6 offset-md-3">

<!-- Page Container -->

<!-- The Grid -->
    <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">


        <div class="w3-text-black w3-text-grey w3-card-4">

        <div class="w3-display-container" >
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="{{ profile.name }}" style="width:100%">
            {% endif %}


        </div>

            <div class="w3-container">
                    <div class="w3-container w3-center w3-xlarge w3-text-black">
                    <h4><b>{{user.username}}</b></h4>
                    </div>
                <br>
                

            <hr>

            <div class="w3-bar-block w3-text-black">

                <a href="{% url 'message:sendMessage' %}" class="w3-bar-item w3-button w3-padding" style="text-decoration: none">
                    <i class="fa fa-pencil fa-fw w3-margin-right"></i>Mesaj Gönder</a>

                <a href="{% url 'message:inbox' %}" class="w3-bar-item w3-button w3-padding" style="text-decoration: none">
                    <i class="fa fa-paper-plane w3-margin-right"></i>&nbsp;Gelen Kutusu</a>

                <a href="{% url 'message:outbox' %}" class="w3-bar-item w3-button w3-padding" style="text-decoration: none">
                    <i class="fa fa-users fa-fw w3-margin-right"></i>Giden Kutusu</a>
            </div>

        </div>

    </div>

</div>

<div class="w3-twothird">

    <div id="Borge" class="w3-container w3-text-black person">
        <br>
                <div class="w3-container  w3-text-black" style="text-align : center;">
                <h2>Mesajlar</h2>
                <hr>
            </div>
        {% block messageBlock %}

        {% endblock messageBlock %}

    </div>
</div>
</div>
{% endblock body %}