{% extends "layout.html" %}

{% block body %}

{% load crispy_forms_tags %}
        
<div class="row">
  <div class="col-md-6 offset-md-3">


    <div class="card my-4">
        <h5 class="card-header" style="background : black; color : ghostwhite;">Ara</h5>
        <div class="card-body">
            <form class="input-group">
                {% csrf_token %}
                <input type="text" name="keyword" class="form-control" placeholder="Aramak istediğiniz kelimeyi giriniz...">
                <span class="input-group-append">
                    <button class="w3-btn w3-black w3-hover-blue" style="background : black; color : ghostwhite;" type="submit">Ara</button>
                </span>
            </form>
        </div>
    </div>

    {% if ilans %}

    {% for ilan in ilans %}


    <div class="w3-container w3-card w3-margin-bottom">
        <div class="w3-container" >
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <h2 class="w3-text-black w3-padding-16"><a href="{% url 'ilan:details' ilan.id %}" style="color : black; text-decoration: none"><i
                            class="fa fa-eye fa-fw w3-margin-right w3-xlarge w3-text-black"></i>{{ilan.title}}
                    </h2>
                </div>
                <div class="w3-col m4 w3-hide-small">
                    <br>
                </div>

            </div>

        </div>

        <div class="w3-container w3-text-black">
            <h6 class="w3-text-black"><i class="fa fa-calendar fa-fw w3-margin-right"></i><b>{{ilan.created_date}}&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'user:profile' ilan.owner.id %}" style="text-decoration: none; color: black;">
            <i class="fa fa-user fa-fw w3-margin-right"></i>{{ilan.owner.username}}</b>
            </a>
            </h6>
            <hr>
            </h3>{{ilan.content|safe|truncatewords:10}}</h3>
            <br>
        </div>

    </div>

    {% endfor %}

    {% else %}

    <div class="alert alert-danger">           
        İlan bulunamadı
    </div>

    {% endif %}

    </div>
</div>

{% endblock body %}